.toolbar {
  display: flex;
  justify-content: flex-end;
  &__search {
  }
  &__create-entry {
    mat-icon {
      font-size: 40px;
    }
  }
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  &__card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 10px;
    border-radius: 10px;
    // width: 90%;
    // margin: 0.5rem;
    // max-height: 300px;
    // overflow: scroll;

    &__header {
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
    }
    &-content {
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space:nowrap;
      p {
        font-family: monospace !important;
      }
    }
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  .entry-card {
    // max-width: 400px;
    // min-width: 300px;
    // min-height: 250px;
    // margin: 1rem;
    // max-height: 250px;
    &:hover {
      transform: scale(1.08);
    }
    width: 25%;
    margin: 1rem;
    max-height: 250px;
    border-radius: 10px;
    &__header {
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;

        &:link,
        &:visited {
          color: black;
        }

        &:hover,
        &:focus {
          color: #13c4a5;
        }
      }
    }
    &__content {
      // display: -webkit-box;
      // /* max-width: 200px; */
      // -webkit-line-clamp: 7;
      // -webkit-box-orient: vertical;
      // overflow: hidden;
      overflow: hidden;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      // -webkit-line-clamp: 5;
      // -webkit-box-orient: vertical;
      min-height: 100px;
      max-height: 100px;
    }
    &__footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.7rem;
    }
  }
}

.example-card {
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  &__title {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    &--create {
      margin-top: 0.8rem;
    }
  }
}

.section {
  display: flex;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding-bottom: 0.1rem;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      //color: #c94c4c;
    }
    // a {
    //   text-decoration: none;

    //   &:link,
    //   &:visited {
    //     color: black;
    //   }

    //   &:hover,
    //   &:focus {
    //     color: #13c4a5;
    //   }
    // }
    &__content {
      min-height: 8rem;
      max-height: 8rem;
    }
    &__footer {
      padding-top: 0.5rem;

      mat-icon {
        vertical-align: middle;
      }
    }
  }
}
