<mat-toolbar>
  <div class="logo">
    <mat-icon class="theme-color"> history_edu </mat-icon>
    <a href="home"><h1 class="theme-color">INKED...</h1> </a>
  </div>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="addNewEntry()">
    <mat-icon class="theme-color">add_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="goToUserProfile()">
    <mat-icon class="theme-color">account_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon class="theme-color">logout</mat-icon>
  </button>
</mat-toolbar>
