<button mat-button class="menu-button" routerLink="/home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button" routerLink="/entries">
  <mat-icon>auto_stories</mat-icon>
  <span>Entries</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button" routerLink="/user-profile">
  <mat-icon>person</mat-icon>
  <span>Profile</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button" routerLink="/trash">
  <mat-icon>delete</mat-icon>
  <span>Trash</span>
</button>
<mat-divider></mat-divider>
